@use './partials/header-component';
@use './partials/footer-component';

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.cdnfonts.com/css/matrix');

* {
    font-family: 'Matrix', sans-serif;
    color: #92e5a1;
}

.sizing-vh {
    height: calc(100vh - 215px);
}

.video-background {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: lime;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ff00;
}