.card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #0f0;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #0f0;
}

.card-title,
.card-text,
.btn {
    color: #0f0;
}

.card-body {
    font-family: 'Matrix', Courier, monospace;
}

.position-relative img {
    border-radius: 10px;
}



.badge {
    position: absolute;
    bottom: -122px;
    right: 10px;
    background-color: transparent;
    z-index: 999;
}

.badge img {
    width: 50px;
    height: auto;
}